* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100vw;
    background-color: #eee;
    display: grid;
    grid-template-rows: 44px 1fr;
}

.nav-container {
    height: 100%;
    padding:0 20px;
    background-color: #fff;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 22px 1fr;
    align-content: center;
    box-shadow: 0 2px 10px #ccc;
}

.back-arrow {
    color:rgb(0,0,128);
    grid-column: 1/2;
    font-size: 22px;
}

h3 {
    color:#aaa;
    font-size: 15px;
    grid-column: 2/-1;
    justify-self: center;
    font-weight: lighter;
}

.messages-container {
    padding:10px;
    display:grid;
    grid-template-rows: repeat(3,90px);
    gap:10px;
}

.messages-item {
    padding:20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #eee;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 30px 20px;
    grid-template-columns: 26px 1fr;
}

.horn-container {
    width: 30px;
    height: 30px;
    grid-row: 1/-1;
    grid-column: 1/2;
    align-self: center;
    background-color: rgb(0,0,128);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horn {
    color:#fff;
    font-size: 15px;
}

h4,p {
    margin-left: 20px;
    width: 100%;
    grid-column: 2/3;
    align-self: center;
    position: relative;
    text-wrap: nowrap;
    overflow: hidden;
}

h4 {
    grid-row:1/2;
}

p {
    font-size:14px;
    grid-row: 2/3;
    color: #aaa;
}

p::after,h4::after {
    content: " ";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    right: 0;
}






