* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100vw;
    background-color: #eee;
    display: grid;
    grid-template-rows: 44px 57px 460px;
}

.nav-container {
    height: 100%;
    padding:0 20px;
    background-color: #fff;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 22px 1fr;
    align-content: center;
}

.back-arrow {
    color:rgb(0,0,128);
    grid-column: 1/2;
    font-size: 24px;
}

.title {
    grid-row: span 1;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.title > p {
    font-size: 25px;
}

.text-arrow-container {
    grid-row: span 1;
    width: 100%;
    padding:0px 30px;
    display: grid;
    grid-template-rows: repeat(10,46px);
    background-color: #fff;
}

.text-arrow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.text-arrow > p {
    font-size: 16px;
    color: rgb(151, 156, 175);
}

.text-arrow > i {
    font-size: 15px;
    color: #ccc;
}







